In [1]:
print('this is my first python program')

this is my first python program

In [2]:
print " this is my first program"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(" this is my first program")? (<ipython-input-2-470a57016701>, line 1)

In [4]:
#my name is Dhrumil
"""
multi-line commments

asfjkafjkgjqjjajag
asfjkl;
asfjkl
asdfjkl;
"""

'\nmulti-line commments\n\nasfjkafjkgjqjjajag\nasfjkl;\nasfjkl\nasdfjkl;\n'

In [5]:
asdf = 10

In [6]:
asdf

10

In [9]:
print(type(asdf))

<class 'int'>

In [10]:
b = 'adfkl2ek344j 342kl4ve'

In [13]:
print(type(b))

<class 'str'>

In [14]:
type(b)

str

In [15]:
b

'adfkl2ek344j 342kl4ve'

In [16]:
a = 45
b = 'dhrumil'

In [18]:
a,b,d= 45, 'dhrumil' , 'this is my name'

In [19]:
a

45

In [20]:
b

'dhrumil'

In [21]:
d

'this is my name'

In [22]:
type(b)

str

In [23]:
a,b,d

(45, 'dhrumil', 'this is my name')

In [26]:
# cannot be included or starting name of the variable by special case chars(@,$,%,^,&,*).
1b ='akfjlsalfj'

SyntaxError: invalid syntax (<ipython-input-26-d4f10fb8f995>, line 2)

In [27]:
b& = 123

SyntaxError: invalid syntax (<ipython-input-27-1f89d8fb481c>, line 1)

In [28]:
name = 'dhrumil'
user_id = 'IN001'
password = 'safsaddf'
email_id = 'dfsasfgkgdf@gmail.com'

In [30]:
# Write a code like a story.
# Someone doesn't want to feel the pain while reading the code.

In [32]:
f = 1.5

In [33]:
type(f)

float

In [34]:
# True, False = Bool

In [35]:
b = True
c = False

In [36]:
type(b)

bool

In [37]:
type(c)

bool

In [41]:
# True represents 1 and False  0 
True + True + False + True

3

In [40]:
False - True - False

-1

In [42]:
True / False

ZeroDivisionError: division by zero

In [43]:
n = 45 + 6j

In [44]:
type(n)

complex

In [45]:
n

(45+6j)

# i = √-1

In [47]:
n.real

45.0

In [49]:
n.imag

6.0

In [50]:
1 + 'dhrumil'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
# Python supports dynamic and strong typing

In [52]:
# String + String = Concatenation

In [53]:
"1" + " Dhrumil"

'1 Dhrumil'

In [54]:
1 + 1.0

2.0

In [55]:
# Float consumes more memory, it upcasts the result
1 + 1.0

2.0

In [56]:
'dhrum' + 'dhrum' + 'dhrum'

'dhrumdhrumdhrum'

In [57]:
'dhrum' * 3

'dhrumdhrumdhrum'

In [58]:
'dhrum' * 'dhrum'

TypeError: can't multiply sequence by non-int of type 'str'

In [59]:
a = 10

In [60]:
a = input()

asdfdsa

In [61]:
a

'asdfdsa'

In [62]:
a = input('Enter an integer')

Enter an integer32

In [63]:
type(a)

str

### Nature of input function is string
#### No matter the input given it tries to convert into a string

In [70]:
a = int(input('Enter the value of a'))
b = int(input('Enter the value of b'))
c = int(input('Enter the value of c'))
o = (a+b)/c
comp = 45 + 6j
o1 = o + comp
str(o1) + 'dhrumil'

Enter the value of a33
Enter the value of b36
Enter the value of c3

'(68+6j)dhrumil'

In [76]:
a = int(input('Enter the number lesser than 36: '))

Enter the number lesser than 36: 45

In [77]:
if a <36:
    pass

In [79]:
a = int(input('Enter the number lesser than 36: '))
if a < 36:
    print('okay fine!')

Enter the number lesser than 36: 24
okay fine!

In [83]:
a = int(input('Enter the number lesser than 36: '))
if a < 36:
    print('okay fine!')
elif a < 100:
    print('my data is lesser than 100')
else:
    print('user input is not less than 36')

Enter the number lesser than 36: 99
my data is lesser than 100

In [86]:
salary = int(input('Enter your salary:'))
if salary > 1000:
    print('I will buy a car.')
elif salary > 500:
    print('I will buy a bike.')
elif salary > 100:
    print('I will not buy anything.')
else:
    print('I will go for savings.')

Enter your salary:5
I will go for savings.

## Nested statements

In [88]:
salary = int(input('Enter your salary:'))
if salary > 1000:
    print('Your salary is good.')
    if salary > 5000:
        print('I will go for Nano.')
        if True:
            print('False code')
    elif salary > 10000:
        print('I will go for Maruti')
    elif salary > 50000:
        print('I will go for Audi')
    else:
        print('I will rent a car.')
elif salary > 500:
    print('I will buy a bike.')
elif salary > 100:
    print('I will not buy anything.')
else:
    print('I will go for savings.')

Enter your salary:100045
Your salary is good.
I will go for Nano.
False code